#only TZ mode will mount secure partition successful

on fs
    mkdir /teesst 0700 root root
    mount ext4 /dev/block/platform/soc.2/by-name/SSTD /teesst
    chmod 0700 /teesst

on property:ro.security.mode=tz
    insmod /lib/modules/tzdd.ko
    chmod 0700 /system/bin/teec_sstd_ca
    start teecsstdca

on property:ro.security.mode=ntz
   insmod /lib/modules/geu.ko

service teecsstdca /system/bin/teec_sstd_ca /teesst
    class main
    user root
    oneshot
    disabled

